* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Sora', sans-serif;
	background-color: rgb(236, 235, 220);
}

/* Layout Cabecalho da página */
.cabecalho {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2b7148;
	color: white;
	padding: 1rem;
}

.cabecalho h1 {
	font-weight: bold;
	font-size: 2em;
}

.centro {
	display: flex;
	justify-content: space-between;
	max-width: 78rem;
	width: 100%;
	align-items: center;
}

.form {
	border-radius: 0.3em;
	border: 2px solid transparent;
	font-size: 0.85em;

	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}

.form div {
	display: flex;
	justify-content: flex-end;
}

.form label div {
	font-size: 10px;
	color: rgb(247, 74, 74);
	margin-bottom: -1.3em;
}

.form button {
	background-color: #04375c;
	padding: 0.35rem 1.6rem;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 0.25em;
	font-size: 1em;
	align-self: center;
	margin-left: 1.5rem;
}

.form button:hover {
	cursor: pointer;
}

.form label {
	margin-left: 2em;
}

.form input {
	padding: 0.3rem;
	border-radius: 0.3em;
	border: 1.5px solid transparent;
	margin-left: 0.5em;
}

/* Layout conteúdo do site */
/* Estrutura do corpo do site */
.conteudo {
	display: flex;
	justify-content: center;
	padding: 2rem;
}

.colunas {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	max-width: 78rem;
	width: 100%;
}

/* Layout tabela do resultado dos jogos */
.partidas {
	display: flex;
	flex-direction: column;
	max-width: 26rem;
	min-width: 26rem;
	margin-right: 2rem;
	margin-bottom: 2rem;
}

.partidas-cabecalho {
	background-color: rgb(138, 185, 157);
	display: flex;
	justify-content: space-between;
	padding: 0 0.2em;
}

.partidas-cabecalho .desativado {
	opacity: 0.5;
}

.partidas-cabecalho h2 {
	padding: 1rem 0;
	font-size: 1.5em;
	font-weight: bold;
}

.partidas-cabecalho img:hover {
	cursor: pointer;
}

.partidas .carregando {
	background-color: white;
	height: 4em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.partidas .tabela {
	background-color: white;
	display: flex;
	justify-content: center;
}

.partidas table {
	border-collapse: collapse;
}

.partidas tr {
	margin: 0 auto;
}

.partidas td {
	padding: 0.25em 0;
	text-align: center;
}

.partidas .time-casa div {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.partidas .time-fora div {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.partidas .gols {
	font-size: 1.5em;
	width: 2em;
}

.partidas .gols-input {
	width: 4ch;
}

.partidas .time-casa img,
.partidas .time-fora img {
	width: 1.4em;
	height: 1.4em;
}

.partidas .time-casa img {
	margin-left: 3px;
}

.partidas .time-fora img {
	margin-right: 3px;
}

.partidas .botao-td div {
	display: flex;
	justify-content: center;
	background-color: rgb(138, 185, 157);
	border-radius: 50%;
	padding: 0.2rem;
	width: 1.6rem;
	height: 1.6rem;
}

.partidas .botao-td:hover {
	cursor: pointer;
}

.partidas .botao-td img {
	width: 100%;
}

/* Layout tabela final do brasileirão */
.tabela-geral {
	background-color: white;
	max-width: 50rem;
}

.tabela-geral table {
	border-collapse: collapse;
	width: 100%;
}

.tabela-geral thead {
	background-color: rgb(138, 185, 157);
	font-weight: bold;
	font-size: 1.18em;
}

.tabela-geral thead td {
	padding: 0.2em 0.5em;
}

.tabela-geral thead img {
	margin-left: 2.5px;
	height: 1em;
}

.tabela-geral thead img:hover {
	cursor: pointer;
}

.tabela-geral tbody td {
	text-align: right;
	padding: 0.4em 1em;
}

.tabela-geral .time {
	display: flex;
}

.tabela-geral .time img {
	width: 1.3em;
	margin-right: 0.25em;
}

.cabecalho .erro {
	border-color: red;
}
